.container {

}
.navbar {
    background-color: white;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
}

.card-header {
    background-color: #ddd;
}

.card {
    padding: 15px;
    margin-bottom: 20px;
}
