.container {

}
.navbar {
    background-color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}
.navbar-brand {
    margin: auto;
    font-size: 48px;
}

.card-header {
    background-color: darkgray;
}

.card {
    padding: 15px;
    margin-bottom: 20px;
}
